@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Unna&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --special : #74c6e9;
    --big_text : #444;
    --txt : #222;
    --bg : #efefef;
    --wrapper_bg : #fff;
    --faded : rgba(0, 0, 0, 0.15);
    --faded_txt: rgba(0, 0, 0, 0.4);
    --shdw_in : inset 0 0 20px rgb(0,0,0,0.2);
    --shdw_out : 0 0 15px rgb(0,0,0,0.05);
    --icon_shdw : 0 0 15px rgba(0, 0, 0, 0.1);
    --drop_bg : #ddd;
}

@media (prefers-color-scheme){
    :root{
        --big_text : #fff;
        --txt : #eee;
        --bg : #222;
        --wrapper_bg : #333;
        --faded : rgba(255, 255, 255, 0.15);
        --faded_txt: rgba(255, 255, 255, 0.4);
        --shdw_in : inset 0 0 20px rgb(0,0,0,0.4);
        --shdw_out : 0 0 15px rgb(0,0,0,0.3);
        --icon_shdw : 0 0 15px rgba(0, 0, 0, 0.5);
        --drop_bg : #202020;
    }
}

/*global*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shdw_in);
    background: var(--bg);
    transition: 0.2s ease-in-out;
    background: var(--wrapper_bg);
}
.flex-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.vanish{
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
}
.vanish2{
    opacity: 0;
    pointer-events: none;
}

/*parent*/
.wrapper{
    border-radius: 10px;
    position: relative;
    transition: 0.3s ease-in-out;
}
.front>.icon{
    background: url(../common_images/logo.jpeg) no-repeat center center/cover;
    background-size: 130%;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 30px 0;
    filter: drop-shadow(var(--icon_shdw));
    transition: 0.2s ease-in-out;
}
.rear>.icon{
    background: url(../common_images/logo.jpeg) no-repeat center center/cover;
    background-size: 130%;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: 16px 0;
    filter: drop-shadow(var(--icon_shdw));
    transition: 0.2s ease-in-out;
}
.ttl{
    font-size: 18px;
    color: var(--big_text);
    font-weight: 700;
    letter-spacing: 2px;
    transition: 0.2s ease-in-out;
}
.rear>.ttl{
    font-size: 15px;
}
.btn{
    cursor: pointer;
    border: none;
    border-radius: 2px;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 500;
    background: var(--special);
    padding: 9px 25px;
    padding-left: calc(25px + 2px);
    margin: 50px 0;
    transition: 0.2s ease-in-out;
}
.rear>.btn{
    margin: 10px 0;
    margin-bottom: 20px;
}
.btn:hover{
    text-shadow: 0 0 5px #fff;
}
input{
    text-align: center;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--faded);
    color: var(--txt);
    font-size: 15px;
    letter-spacing: 1px;
    padding: 6px 0;
    max-width: 180px;
    position: relative;
}
.front,.rear{
    position: absolute;
    transition: 0.3s ease-in-out;
}

/*front*/
.front{
    z-index: 2;
}


/*rear*/
.rear{
    z-index: 1;
    transition-duration: 0.4s;
    transition-delay: 0.5s;
}
.user-input{
    margin: 20px 0;
    gap: 30px;
}
.box{
    position: relative;
}
label{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--faded_txt);
    letter-spacing: 1px;
    transition: 0.2s ease-in-out;
    z-index: -1;
}
.underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}
.underline::before{
    content: '';    
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--special);
    transform: scaleX(0);
    transition: 0.2s 0.2s ease-in-out;
    z-index: 3;
}
input:focus~.underline::before,input:valid~.underline::before{
    transform: scaleX(1);
}
input:focus~label,input:valid~label{
    transform: translateY(-25px);
    font-size: 13px;
    color: var(--special);
}

/* Select menu */
.dept{
    position: relative;
}
.dept>select{
    position: relative;
    font-weight: 500;
    cursor: pointer;
    background: var(--drop_bg);
    color: var(--txt);
    font-size: 12px;
    outline: none;
    border: none;
    padding: 7px 8px;
    border-radius: 5px;
    letter-spacing: 1px;
    opacity: 0.7;
    transition: 0.2s ease-in-out;
}
.dept>select:focus, .dept>select:hover{
    opacity: 1;
}

/*medias*/
@media screen and (min-width:400px) {
    body{
        background: var(--bg);
        box-shadow: none;
    }
    .wrapper{
        box-shadow: var(--shdw_out);
        background: var(--wrapper_bg);
    }
    .ttl{
        font-size: 18px;
    }
    .front>.icon{
        height: 155px;
        width: 155px;
    }
    .rear>.icon{
        height: 85px;
        width: 85px;
    }
    .btn{
        font-size: 15px;
        border-radius: 999px;
    }
}