body{background: var(--theme);}
svg{
    min-height: 400px;
    min-width: 400px;
    max-width: 400px;
    max-height: 400px;
    filter: saturate(0.9) drop-shadow(0 0 5px rgba(0, 0, 0, 0.08));
}
@media (prefers-color-scheme : dark){
    svg{filter: contrast(1) brightness(0.85) saturate(0.95) drop-shadow(0 0 8px #111);}
}
::placeholder{
    color: var(--text);
    opacity: 0.3;
    font-family: var(--formal);
    font-weight: 400;
    font-size: 0.9em;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.contact_par input, .contact_par textarea{
    resize: none;
    font-family: var(--formal);
    letter-spacing: 1px;
    border: none;
    outline: none;
    border-radius: 3px;
    border-left: 3px solid transparent;
    background: var(--input-bg);
    font-size: 13px;
    font-weight: 500;
    color: var(--text);
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 450px;
    transition: 0.3s ease-in-out;
}
.contact_par input:focus, .contact_par textarea:focus{
    border-left: 3px solid var(--accent);
}
.contact_par label{
    color: var(--text-fade);
    letter-spacing: 1px;
    font-family: var(--formal);
    font-weight: 500;
    font-size: 12px;
}

.contact_par{
    width: 100%;
    justify-content: center;
}
.contact_par .contact_main{
    width: 100%;
    max-width: 1300px;
    padding: 50px var(--padd_h);
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    position: relative;
}
.contact_par .contact_main #contact_form .ttl{
    font-size: 28px;
    color: var(--text);
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px 0;
}
.contact_par .contact_main #contact_form .subttl{
    font-size: 20px;
    color: var(--sub-txt);
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 5px 0;
    margin-bottom: 15px;
}
.contact_par .contact_main #contact_form button{
    font-family: var(--formal);
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    width: 120px;
    font-weight: 500;
    cursor: pointer;
}
.contact_par .contact_main #contact_form button:hover,.contact_par .contact_main #contact_form button:hover, .contact_par .contact_main #contact_form button:focus,.contact_par .contact_main #contact_form button:focus{
    text-shadow: 0 0 5px #fff;
}
.contact_par .contact_main #contact_form .btns{
    gap: 10px;
    margin: 10px 0;
}
.contact_par .contact_main #contact_form .send_btn{
    background: var(--accent);
}
.contact_par .contact_main #contact_form .res_btn{
    background: #aaa;
}




@media screen and (max-width:1200px) {
    svg{
        display: none;
    }
    .contact_par .contact_main{
        justify-content: center;
    }
    .contact_par .contact_main::before{
        content: '';
        position: absolute;
        inset: 0;
        background: url(images/Group.svg) no-repeat  center/contain;
        background-position: bottom 30% right;
        background-size: 50%;
        z-index: -1;
        opacity: 0.65;
    }
    .contact_par .contact_main #contact_form{
        background: var(--card);
        padding: 20px 30px;
        box-shadow: var(--prof-card-shdow);
        border-radius: 3px;
    }
}
@media screen and (max-width:900px) {
    .contact_par .contact_main::before{
        background-position: bottom 10% right;
        background-size: 50%;
    }
}
@media screen and (max-width:600px) {
    .contact_par .contact_main::before{
        background-size: 100%;
    }
    .contact_par .contact_main #contact_form{
        box-shadow: none;
        width: 100%;
        background: transparent;
    }
    .contact_par .contact_main #contact_form input, .contact_par .contact_main #contact_form textarea{
        width: unset;
    }
    .contact_par{
        padding: 0;
    }
    .contact_par .contact_main::before{
        display: none;
    }
}
@media screen and (max-width:400px) {
    .contact_par .contact_main #contact_form{
        padding: 0;
        /* text-align: center; */
    }
}