@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poppins:wght@100;200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --text : #444;
    --formal : 'Poppins', sans-serif;
    --fancy : 'Nanum Pen Script', cursive;
    --theme : #f5f5f5;
    --card : #fff;
    --accent : #67B0D1;
    --accent-dark :#264a59;
    --label : #a9a9a9;
    --links : #67B0D1;
    --ttl-txt : #264a59;
    --sub-txt : rgba(68, 68, 68, 0.7);
    --padd_h : 90px;
    --padd_v : 15px;
    --menu_hover_link_bg : rgba(64, 64, 64, 0.1);
    --card-shdow : 0 0 25px rgba(69, 130, 157, 0.2);
    --text-fade : rgba(68, 68, 68, 0.5);
    --fixed-white : #fff;
    --valid-bg : #1aca60;
    --warn-bg : #f15850;
    --prof-card-shdow : 0 0 10px rgba(68, 68, 68, 0.2);
    --shdow : 0 0 10px rgba(68, 68, 68, 0.6);
    --usr-avt : url(../common_images/profile.svg);
    --bg-overlay : rgba(30,30,30,0.1);
    --breadcrumb-bg : #EFF6FB;
    --breadcrumb-shdow : 0 0 5px rgba(68, 68, 68, 0.2);
    --input-bg : rgba(68, 68, 68, 0.08);
    --story-bg : #f0f0f0;
}

@media (prefers-color-scheme: dark){
    :root{
        --text : #fff;
        --theme : #303030;
        --card : #3a3a3a;
        --label : #aaa;
        --ttl-txt : #67B0D1;
        --sub-txt : rgba(255, 255, 255, 0.7);
        --padd_h : 90px;
        --padd_v : 15px;
        --menu_hover_link_bg : rgba(255, 255, 255, 0.1);
        --card-shdow : 0 0 25px rgba(0, 0, 0, 0.5);
        --prof-card-shdow : 0 0 10px rgba(0, 0, 0, 0.3);
        --text-fade : rgba(255, 255, 255, 0.6);
        --shdow : 0 0 10px rgba(0, 0, 0, 0.5);
        --breadcrumb-bg : hsl(205, 10%, 30%);
        --breadcrumb-shdow : 0 0 5px rgba(0, 0, 0, 0.3);
        --input-bg : rgba(255, 255, 255, 0.08);
        --story-bg : #4a4a4a;
    }
}
body{
    font-family: var(--formal);
}
/*--------------------------------------------------------RESET CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}

/*--------------------------------------------------------PRELOADER*/
.preloader{
    position: fixed;
    inset: 0;
    background: var(--theme);
    z-index: 9999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.pre_wrap{
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.pre_wrap .circle{
    height: 50px;
    width: 50px;
    border: 7px solid var(--accent);
    border-radius: 50%;
    animation: fade 1.3s ease-in-out infinite forwards;
}
.pre_wrap .pre_logo{
    --spc : 2px;
    font-family:var(--formal);
    font-weight: 700;
    color: var(--ttl-txt);
    font-size: 18px;
    letter-spacing: -7px;
    opacity: 0;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    animation: spr 0.5s 1s ease-in-out 1 forwards;
}
.pre_wrap .fo{
    --spc : 1px;
    color: var(--sub-txt);
    font-size: 13px;
    letter-spacing: -7px;
    opacity: 0;
    text-align: center;
    animation: spr 0.5s 1s ease-in-out 1 forwards;
    margin-top: -3px;
}
.pre_wrap .ad{
    color: var(--text);
    letter-spacing: 1px;
    margin-top: -3px;
    opacity: 0;
    animation: sik 0.5s 1.5s ease-in-out 1 forwards;
}
@keyframes fade {
    0%{
        transform: scale(0);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes spr {
    0%{
        letter-spacing: -7px;
    }
    100%{
        letter-spacing: var(--spc);
        opacity: 1;
    }
}
@keyframes sik {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*--------------------------------------------------------SKIP NAVIGATION*/
.skip_nav{
    width: 130px;
    font-size: 10px;
    position: absolute;
    z-index: 90000;
    text-align: center;
    letter-spacing: 1px;
    transform: translateY(-10px);
    opacity: 0;
    transition: 0.2s ease-in-out;
    pointer-events: none;
}
.skip_nav:focus{
    background: #333;
    transform: translateY(0);
    opacity: 1;
}
/*--------------------------------------------------------ROOT CLASSES*/
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    font-family: var(--formal);
    background: var(--card);
}
.flex-row{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
::selection{
    background: hsl(190, 80%, 40%);
    color: #fff;
}
button{
    cursor: pointer;
    outline: none;
    border: none;
    padding: 7px 15px 8px 15px;
}
li{
    padding: 5px;
    list-style: none;
}
a{
    color: var(--fixed-white);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 12px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: 0.22s ease-in-out;
}
a:hover,a:focus{
    background: rgba(255, 255, 255, 0.2);
}
.menu_mini ul li a:hover,.menu_mini ul li a:focus{
    background: var(--menu_hover_link_bg);
}
.title{
    text-transform: uppercase;
    color: var(--fixed-white);
    font-weight: 700;
}
.active_page{
    background: rgba(255, 255, 255, 0.3);
}
.active_page_min{
    background: var(--menu_hover_link_bg);
}
.inactive{
    opacity: 0;
    pointer-events: none;
    transform: translateY(-30%);
}
.inactive2{
    opacity: 0;
    pointer-events: none;
}
.disabled{
    color: rgba(255, 255, 255, 0.4) !important;
    pointer-events: none;
}
.disabled:focus{background: none;}
/*--------------------------------------------------------MENU PARENT*/
.navigation{
    justify-content: center;
    background: var(--accent);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}
/*--------------------------------------------------------HORIZONTAL MENU*/
.menu_bar{
    background: var(--accent);
    max-width: 1920px;
    align-items: center;
    width: 100%;
    padding: var(--padd_v) var(--padd_h);
}
/*--------------------------------------------------------LOGO*/
.logo_img{
    height: 60px;
    width: 60px;
    min-width: 60px;
    border-radius: 50%;
    background: url(../common_images/logo.jpeg) no-repeat center center/cover;
    background-size: 130%;
    margin-right: 15px;
    box-shadow: 0 0 15px rgba(68, 68, 68, 0.4);
}
/*--------------------------------------------------------TITLES*/
.logo_txt{
    font-size: 24px;
    letter-spacing: 1px;
}
.logo_txt_min,.logo_txt_min2{
    display: none;
    font-size: 22px;
    letter-spacing: 1px;
}
/*--------------------------------------------------------MAIN MENU*/
.menu_wide{margin-left: auto;}
.menu_wide ul li a{letter-spacing: 1px;}
/*--------------------------------------------------------TEAM DROPDOWN*/
.team_sub .divider{
    align-self: center;
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    margin: 4px 0 3px 0;
    height: 1px;
}
.team_sub{
    align-items: flex-start;
    position: absolute;
    background: var(--accent);
    border-radius: 3px;
    padding: 5px 4px;
    box-shadow: 0 0 8px rgba(60,60,60,0.4);
    transition: 0.2s ease-in-out;
    z-index: -1;
}
.team_sub li{
    padding: 0;
}
.team_sub li a{
    padding: 3px 7px;
    font-size: 13px;
    font-weight: 400;
}
.team_sub::before{
    content: '';
    position: absolute;
    top: -7px;
    left: 35px;
    height: 15px;
    width: 15px;
    border-radius: 3px;
    transform: rotate(45deg);
    background: var(--accent);
    z-index: -1;
}
/*--------------------------------------------------------MENU ICON*/
.menu_icon{
    padding: 4.5px;
    margin-left: auto;
    cursor: pointer;
    gap: 8.5px;
    display: none;
}
.bars{
    height: 4px;
    width: 35px;
    background: var(--fixed-white);
    border-radius: 1px;
    transform-origin: right;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.95) !important;
    transition: 0.2s 0.2s ease-in-out;
}
.bar2{transition-delay: 0s;}
/*--------------------------------------------------------SIDE MENU*/
.menu_mini{
    justify-content: center;
    position: fixed;
    min-height: 100%;
    background: var(--card);
    padding: 10px var(--padd_h);
    right: 0;
    top: 0;
    bottom: unset !important;
    transform: translateX(100%);
    z-index: 995;
    display: none;
}
.menu_mini ul{
    gap: 20px;
    min-height: 380px;
    align-items: center;
    transition: 0.2s 0.5s ease-in-out;
    transform: translateY(30px);
}
.menu_mini ul li a{
    opacity: 0;
    text-align: center;
    color: var(--text) !important;
    font-size: 16px;
    font-weight: 500;
    transition: 0.4s ease-in-out;
}
/*--------------------------------------------------------CARD*/
.acc_par{
    width: 100%;
    background: var(--bg-overlay);
    backdrop-filter: saturate(0);
    position: fixed;
    inset: 0;
    z-index: 990;
    transition: 0.2s ease-in-out;
}
.acc_bg{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: var(--padd_h);
}
.acc_wrapper{
    align-items: center;
    color: var(--text);
    background: var(--card);
    min-width: 200px;
    box-shadow: var(--shdow);
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    letter-spacing: 1px;
}
/*--------------------------------------------------------CARD TOP*/
.acc_wrapper .top{
    align-items: center;
    padding: 10px;
}
.acc_wrapper .top .avatar{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 15px 0;
}
.acc_wrapper .top  .new_name{
    color: var(--accent);
    font-size: 15px;
    letter-spacing: 0.3px;
    font-weight: 500;
}
/*--------------------------------------------------------CARD LOW*/
.acc_wrapper .low{
    background: var(--accent);
    width: 100%;
    padding: 15px 10px;
    gap: 10px;
}
.acc_wrapper .low a{
    font-size: 13px;
    padding: 5px 15px;
    font-weight: 400;
}




/*--------------------------------------------------------RESPONSIVE*/
@media screen and (max-width:1250px) {
    .menu_wide{
        display: none;
    }
    .menu_icon{
        display: flex;
    }
    .menu_mini{
        display: flex;
    }
}
@media screen and (max-width:1100px){
    *{
        --padd_h : 70px;
    }
    .menu_bar{
        padding: var(--padd_v) var(--padd_h);
    }
    .menu_mini{
        padding: 0 var(--padd_h);
    }
    .acc_bg{
        padding-right: var(--padd_h);
    }
}
@media screen and (max-width:900px){
    *{
        --padd_h : 60px;
        --padd_v : 14px;
    }
    .menu_bar{
        padding: var(--padd_v) var(--padd_h);
    }
    .menu_icon{
        transform: scale(0.9);
    }
    .menu_mini{
        padding: 0 var(--padd_h);
    }
    .menu_mini ul{
        gap: 20px;
    }
    .acc_bg{
        padding-right: var(--padd_h);
    }
}
@media screen and (max-width:700px){
    *{
        --padd_h : 50px;
    }
    .menu_bar{
        padding: var(--padd_v) var(--padd_h);
    }
    .logo_txt{
        font-size: 21px;
    }
    .menu_mini{
        padding: 0 var(--padd_h);
    }
    .acc_bg{
        padding-right: var(--padd_h);
    }
}
@media screen and (max-width:630px){
    .logo_img{
        transform: scale(0.9);
    }
    *{
        --padd_h : 35px;
    }
    .menu_bar{
        padding: var(--padd_v) var(--padd_h);
    }
    .logo_txt{
        display: none;
    }
    .logo_txt_min{
        display: block;
    }
    .menu_icon{
        transform: scale(0.8);
    }
    .menu_mini{
        inset: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        padding: 10px 0;
        min-width: 250px;
    }
    .menu_mini ul{
        gap: 18px;
        align-items: center;
    }
    .acc_bg{
        justify-content: center;
        padding: unset;
    }
}
@media screen and (max-width:490px){
    *{
        --padd_v : 8px;
    }
    .menu_bar{
        padding: var(--padd_v) var(--padd_h);
    }
    .menu_icon{
        transform: scale(0.7);
    }
    .logo_img{transform: scale(0.8);}
    .menu_mini ul{
        gap: 15px;
    }
    .menu_mini ul li a{
        font-size: 15px;
    }
    .logo_txt_min{
        display: none;
    }
    .logo_txt_min2{
        display: block;
    }
}
@media screen and (max-width:300px){
    *{
        --padd_h : 20px;
    }
    .logo_img{
        margin-right: 5px;
    }
    .logo_txt_min2{
        font-size: 18px;
    }
}
